@use "../../assets/mixins.scss";

.postcarousel {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid red;
  gap: 6px;
  justify-content: center;

  @include mixins.desktop() {
    display: flex;
  }
}
