/* @use "../../assets/mixins";

.post {
  @include mixins.PostDimension();

  image {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;
  }
} */

.post {
  display: flex;
  width: 100px;
  padding: auto;
  height: 100px;
  border: 2px solid red;
  border-radius: 4px;
  flex: 0 0 auto;
  object-fit: cover;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
}
