.postcarousel {
  display: row;
  flex-wrap: wrap;
  width: 100%;
  max-width: 700px;
  gap: 5px;
  margin: 0 auto;
  overflow: hidden;
}

.post {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 5px;
  background-color: #000000;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  .postimage {
    width: 100%;
    height: auto !important;
  }
}

.postLink {
  display: block;
  text-decoration: none;
  color: #000;
}

.loading {
  text-align: center;
  padding: 20px;
}

.userName {
  font-weight: bold;
  padding: 5px 10px;
}

.likes {
  font-size: 0.8rem;
  color: #ffffff;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

.description {
  padding: 5px 10px;
  flex-grow: 1;
  overflow: hidden;
  color: #ffffff;
  text-overflow: ellipsis;
}

.posticons {
  display: flex;
  color: #ffffff;
  padding: 5px 10px;
}

.posticons svg {
  font-size: 18px;
  margin-right: 3px;
  color: #ffffff;
  padding: 10px;
}

.bookicon {
  display: flex;
  justify-content: flex-end;
  padding: 5px 10px;
  color: #ffffff;
}

.closeButton {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 24px;
}
